/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px; /* Define a medida de 1rem. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu,
figure,
blockquote,
dl,
dd,
header,
footer,
section,
article,
nav {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET - END */
