/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px; /* Define a medida de 1rem. */
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu,
figure,
blockquote,
dl,
dd,
header,
footer,
section,
article,
nav {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET - END */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: transparent;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: transparent;
}

.app-container {
  background: linear-gradient(110deg, lightcyan 0%, lightpink 100%);
}
/* TABLET */
@media (min-width: 650px) {
  .app-container {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
/* DESKTOP */
@media (min-width: 1200px) {
}
